.app__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	padding: 0 25px;
}

.app__title {
	font-weight: bold;
	font-size: 28px;
	line-height: 37px;

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: #5c5c5c; /* или цвет покемонов #FF0000 */
		}

		span {
			color: rgb(255, 204, 0); /* или #FF0000 */
		}
	}
}

.app__menu {
	ul {
		display: flex;
		justify-content: space-between;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;

		li {
			margin: 0 8px;

			a {
				color: inherit;
				text-decoration: none;

				&:hover {
					color: rgb(255, 204, 0); /* или #FF0000 */
				}
			}

			&:hover {
				color: rgb(255, 204, 0); /* или #FF0000 */
			}
		}
	}
}
